
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.hero{
  position: relative;
  background-image: url(./assets/images/hback.png);
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  
}
:root {
  --primary-color: #755139ff;
  --secondary-color:#d4b996ff;
}
.header{
  width: 100%;
  height: 100%;
  color: var(--secondary-color);
  box-shadow: 0 5px 10px var(--secondary-color);
  display: flex;
  align-items: center;
  position: relative;
}
.pic{
  
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5), url("./assets/images/aboutimg.png"));
  clip-path: circle(60% at left 300px);
  z-index: -1;
  background-color: black;
}
.row2{
  position:absolute;
  top: 10px;
  right: 150px;
  text-align: center;
  padding-top: 15%;
}
.row2 h2{
font-size: 3rem;
margin-top: 20px;
margin-bottom: 15px;
}
.row2 img{
margin-top: 30px;
width: 250px;
}

.row3{
text-align: center;
margin-right: 60%;
margin-top: 20%;
font-size: 3rem;
}
.row1{
  clip-path: circle(60% at left 300px);
  background-image: url("./assets/images/aboutimg.png");
 background-repeat: no-repeat;
 background-size: contain;
  padding-right: 50px;
  height: 100%;
  width: 100%;
  font-size: 3rem;


}

